<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="/assets/pngtree-medical-logo-png-image_9116167.png" class="header__logo-image">
        </div>
        <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <i class="bi bi-box-arrow-right header__nav-icon"></i>
            </li>
            <li class="header__nav-item">
                <div class="header__nav-user">
                    <div class="header__nav-text">
                        CR
                    </div>
                </div>
            </li>
        </ul>
        </nav>
    </div>
</header>
