<nav class="navBar">
    <ul class="navBar__list">
        <li class="navBar__list-item">
            <a routerLink="/paciente/" class="navBar__list-item">
                <i class="bi bi-people-fill navBar__list-icon"></i>
                <span class="navBar-text">Pacientes</span>
            </a>
        </li>
        <li class="navBar__list-item">
            <a routerLink="/historia-clinica/listar-historia" class="navBar__list-item">
                <i class="bi bi-file-earmark-person-fill navBar__list-icon"></i>
                <span class="navBar-text">Historias Clinicas</span>
            </a>
        </li>
    </ul>
</nav>
